:root {
  //текст в хедері та назви події
  --main-text-color: #dc56c5;
  // текст дати та опису місцезнаходження події
  --white-text-color: #ffffff;
  // текст надпису у футера
  --footer-text-color: #939393;
  // текст модального вікна
  --modal-text-color: #0e0e0e;
  // текст кнопки у модальному вікні та закриваючої кнопки
  --btn-color: #4c00fe;

  --modal-bg-color: #fff2fd;

  // анімація
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}
